﻿@model WebApplication1.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}




<div class="row" style="font-weight:bold; padding-top:20px;">
    <div class="col-md-3">To Do
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                <a href="#">Panel content1</a>
            </div>
            <div class="panel-body">
                <a href="#">Panel content2</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">In Progress
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                <a href="#" style="color:#31708F;">Panel content1</a>
            </div>
            <div class="panel-body">
                <a href="#" style="color:#31708F;">Panel content2</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">In Review
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                <a href="#" style="color:#8A6D3B;">Panel content1</a>
            </div>
            <div class="panel-body">
                <a href="#" style="color:#8A6D3B;">Panel content2</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">Done
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                <a href="#" style="color:#468847;">Panel content1</a>
            </div>
            <div class="panel-body">
                <a href="#" style="color:#468847;">Panel content2</a>
            </div>
        </div>
    </div>
</div>
